In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.linear_model import LogisticRegression

In [2]:
# lets import our crazy data

import pandas as pd

Cust_Sat = pd.read_csv(r'C:\Users\Tracy\Desktop\Class1IR\Logistic_Regression\Invistico_Airline.csv')



Cust_Sat['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [3]:
Cust_Sat.iloc[:,0:10]

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3

In [4]:
Cust_Sat.groupby('satisfaction').count()

,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
satisfaction,,,,,,,,,,,,,,,,,,,,,
dissatisfied,58793,58793,58793,58793,58793,58793,58793,58793,58793,58793,...,58793,58793,58793,58793,58793,58793,58793,58793,58793,58605
satisfied,71087,71087,71087,71087,71087,71087,71087,71087,71087,71087,...,71087,71087,71087,71087,71087,71087,71087,71087,71087,70882

In [5]:
# counting NAN Value 

Cust_Sat.isnull().sum()
# dropping NAN value 393

Cust_Sat = Cust_Sat.dropna()

In [6]:
Cust_Sat

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [7]:

# changing satisfaction for binary value

Cust_Sat['satisfaction'] = np.where(Cust_Sat['satisfaction'] == 'satisfied',1,0).astype(float)

Cust_Sat['satisfaction'].unique

<bound method Series.unique of 0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
129875    1.0
129876    0.0
129877    0.0
129878    0.0
129879    0.0
Name: satisfaction, Length: 129487, dtype: float64>

In [8]:
columns = []

for i in range(len(Cust_Sat.columns)):
    columns.append(Cust_Sat.columns[i].lower().replace(' ', '_'))

Cust_Sat.columns = columns

In [9]:
Cust_Sat

,satisfaction,customer_type,age,type_of_travel,class,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,...,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes
0,1.0,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,1.0,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,1.0,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,1.0,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,1.0,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,1.0,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,0.0,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,0.0,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,0.0,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,0.0,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [10]:
# Convert customer_type, type_of_travel,  to binary,


Cust_Sat['customer_type'] = np.where(Cust_Sat['customer_type'] == 'Loyal Customer', 1,0).astype(float)
Cust_Sat['type_of_travel'] = np.where(Cust_Sat['type_of_travel'] == 'Personal Travel', 1,0).astype(float)

Cust_Sat

,satisfaction,customer_type,age,type_of_travel,class,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,...,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes
0,1.0,1.0,65,1.0,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,1.0,1.0,47,1.0,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,1.0,1.0,15,1.0,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,1.0,1.0,60,1.0,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,1.0,1.0,70,1.0,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,1.0,0.0,29,1.0,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,0.0,0.0,63,1.0,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,0.0,0.0,69,1.0,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,0.0,0.0,66,1.0,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,0.0,0.0,38,1.0,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [11]:
Cust_Sat['satisfaction'].sum()

70882.0

In [15]:
Cust_Sat['class'].unique()

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [16]:
Cust_Sat.columns

Index(['satisfaction', 'customer_type', 'age', 'type_of_travel', 'class',
       'flight_distance', 'seat_comfort', 'departure/arrival_time_convenient',
       'food_and_drink', 'gate_location', 'inflight_wifi_service',
       'inflight_entertainment', 'online_support', 'ease_of_online_booking',
       'on-board_service', 'leg_room_service', 'baggage_handling',
       'checkin_service', 'cleanliness', 'online_boarding',
       'departure_delay_in_minutes', 'arrival_delay_in_minutes'],
      dtype='object')

In [27]:

# first let separate object from numerical data
# change renmaining Data with pd . get dummies 

categorical_columns = Cust_Sat.select_dtypes(include=['object'])

Numerical_columns = Cust_Sat.select_dtypes(include=['number'])
categorical_columns = pd.get_dummies(categorical_columns)

Cust_Sat = pd.concat([Numerical_columns, categorical_columns], axis=1)

In [28]:


from sklearn.linear_model import LogisticRegression

# l'est build a bad model

X = Cust_Sat.drop('satisfaction', axis = 1 )
y = Cust_Sat['satisfaction']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(X,y, random_state = 42, test_size = 0.2)

LR = LogisticRegression()

LR.fit(X_train,y_train)

LR.score(X_test,y_test) # this is the accuracy

d:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7614101475017376

In [29]:
# whoile accurancy , lets check how other eval ametric work
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

from sklearn.metrics import classification_report # confusuiom matrix

# Here we want to maximize recall

pred = LR.predict(X_test)

pred

print('precision is :', precision_score(y_test,pred))
print('recall is :', recall_score(y_test,pred))
print('f1 is :', f1_score(y_test,pred))

print(classification_report(y_test,pred))

precision is : 0.7607977810064721
recall is : 0.81835618384599
f1 is : 0.7885280125945447
              precision    recall  f1-score   support

         0.0       0.76      0.69      0.73     11821
         1.0       0.76      0.82      0.79     14077

    accuracy                           0.76     25898
   macro avg       0.76      0.76      0.76     25898
weighted avg       0.76      0.76      0.76     25898

In [30]:
from sklearn.metrics import confusion_matrix # confusuiom matrix

confusion_matrix(y_test,pred)

array([[ 8199,  3622],
       [ 2557, 11520]], dtype=int64)

In [ ]:
"""Here's how you can interpret the confusion matrix generated by confusion_matrix(y_test, pred):

The top-left cell (element [0, 0]) represents the number of True Negatives (TN). These are instances correctly classified as the negative class.

The top-right cell (element [0, 1]) represents the number of False Positives (FP). These are instances incorrectly classified as the positive class when they are actually in the negative class.

The bottom-left cell (element [1, 0]) represents the number of False Negatives (FN). These are instances incorrectly classified as the negative class when they are actually in the positive class.

The bottom-right cell (element [1, 1]) represents the number of True Positives (TP). These are instances correctly classified as the positive class."""

In [31]:
Cust_Sat

,satisfaction,customer_type,age,type_of_travel,flight_distance,seat_comfort,departure/arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,...,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes,class_Business,class_Eco,class_Eco Plus
0,1.0,1.0,65,1.0,265,0,0,0,2,2,...,0,3,5,3,2,0,0.0,0,1,0
1,1.0,1.0,47,1.0,2464,0,0,0,3,0,...,4,4,2,3,2,310,305.0,1,0,0
2,1.0,1.0,15,1.0,2138,0,0,0,3,2,...,3,4,4,4,2,0,0.0,0,1,0
3,1.0,1.0,60,1.0,623,0,0,0,3,3,...,0,1,4,1,3,0,0.0,0,1,0
4,1.0,1.0,70,1.0,354,0,0,0,3,4,...,0,2,4,2,5,0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,1.0,0.0,29,1.0,1731,5,5,5,3,2,...,3,4,4,4,2,0,0.0,0,1,0
129876,0.0,0.0,63,1.0,2087,2,3,2,4,2,...,3,3,1,2,1,174,172.0,1,0,0
129877,0.0,0.0,69,1.0,2320,3,0,3,3,3,...,3,4,2,3,2,155,163.0,0,1,0
129878,0.0,0.0,66,1.0,2450,3,2,3,2,3,...,2,3,2,1,2,193,205.0,0,1,0
129879,0.0,0.0,38,1.0,4307,3,4,3,3,3,...,5,5,3,3,3,185,186.0,0,1,0